version: '3.8'

services:
  frontend:
    image: nekrasovgfm/zephyr-dex:latest
    ports:
      - "3000:80"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "node", "health-check.js"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
